<div class="contenu">
  <article class="left">
    <h1 title="nom">Asseme N'guessan</h1>
    <img src="assets/IMG_0139.jpeg" alt="" width="250px" style="border: 10px  grey; border-style:inset; margin-bottom:10px;">
    <div class="content">
      <p>
        Dévelopeur java, j'ai un parours purement informatique.
        Un BTS Développeur d'application, une license informatique à l'université paris-sud, et un
        master architect web et big data en alternance à l'école IPSSI SQY.
      </p>
    </div>

  </article>
  <article class="right">
    <h1>[Ma stack]</h1>
    <img class="stack" src="assets/angular.png" width="100px" height="80px" alt="">
    <img class="stack" src="assets/java.webp" width="100px" height="80px" alt="">
    <img class="stack" src="assets/springBoot_featured_image-1024x549.png" width="100px" height="80px" alt="">
    <p style="margin-left: 64px;">
      <img class="stack" src="assets/git.jpg" width="100px" height="80px" alt="">
      <img class="stack" src="assets/docker.jpg" width="100px" height="80px" alt="">
    </p>

    <div class="content">

    </div>
  </article>
</div>
