.contenu{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  background-color: #202429;
}

article{
  color: white;
  width: 50%;
  font-family: 'time new roman';
  font-size: large;
  display: inline-block;

}
article .content{
  color: white;
  width: 100%;
  font-family: 'time new roman';
  font-size: large;
  display: inline-block;
  min-height: 200px;

}
article>.left{
  float: left;
}

.right{
  float: right;
  text-align: center;

}

h1{
  color: #f6e58c;
  font-family:'American Typewriter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  color: #f6f4e9;
  font-family:'American Typewriter','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}
.content{
  word-wrap: break-word;
}

.stack{
  margin: 20px;
}

.projets{
  margin-top: 40px;
  margin-right: 2%;
  text-align: center;
}

.titre{
  color: white;
  margin-left: 10px;
}
