<div class="contenu">
  <article >
    <h1 title="projets" style="text-align: center ;">[Mes projets]</h1>
    <ul style="list-style-type: none;" class="projets">
      <li style="text-decoration: none;">
        <a href=""><h2>HACKATON</h2></a>
      </li>
      <li>
        <a href=""><h2>TRAVEL AUTHORIZATION REQUEST</h2></a>
      </li>
      <li>
        <a href=""><h2>AMC</h2></a>
      </li>
      <li>
        <a href=""><h2>Workspace</h2></a>
      </li>
      <li>
        <a href=""><h2>Frequentation des salles de cinéma</h2></a>
      </li>
    </ul>

  </article>

</div>
